body{
    margin-top:50px;
    -webkit-font-smoothing: antialiased;
}
img{
    max-width:100%;
    max-height:100%;
    border: 1px solid black;
}
a.anchor{
	display: block;
	position: relative;
	top: -60px;
	visibility: hidden;
}
.alert{
	border-radius: 5px;
	padding: 5px;
	max-width: 25%;
  min-width: 15%;
	max-height: 100%;
	display: inline-block;

}


.textbox {
border-radius:3px;
margin:10px 0;
padding:15px;
}

.textbox.primary {
background:#e8eff3;
border:1px #c5d7e3 solid;
}

.textbox.success {
background:#daeee4;
border:1px #b6dfca solid;
}

.textbox.danger {
background:#fdf4f1;
border:1px #f7cfc4 solid;
}


.button{
    border-radius: 5px;
    min-width: 20%;
    cursor: pointer;
}
.divider{
    width:100%;
    background:#CCC;
    height:1px;
    margin:10px 0px 20px 0px;
}
.explainer{
    font-weight:200;
    color:#AAA;
    margin-bottom:10px;
}
.grid{
    text-align:center;
    font-size:10px;
}
.banner{
    text-align:center;
    padding:10px 0;
}
.navbar{
background:#FAFAFA;
}
.navbar a{
    color:#AAA;
}
.navbar a.selected{
    color:#000;
}
.center{
    text-align: center;
}
.auto-resizable-iframe{
  max-width: 100%;
  margin: 0px auto;
}
.auto-resizable-iframe > div{
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}
.auto-resizable-iframe iframe{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 767px) {
.title{
	display:none;
}
.navbar ul.pull-right{
	text-align: center;
	float: none;
}
.alert{
	display: none;
}

}
.code{
  color:#008500;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  font-family: Courier;
  font-size: 15px;
}
.created {
  color: #C2C2C2;
  float: right;
}



/*CSS for shaking items*/
.link-container a,
.shake-me {
  position:inherit;
}
.link-container a:hover,
.shake-me:hover {
  -webkit-animation-name: linkQuake;
    -moz-animation-name: linkQuake;
      animation-name: linkQuake;
  -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
      animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
      transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
      animation-timing-function: linear;
}

@keyframes linkQuake {
  0%   { 
    transform: translate(2px, 1px)   rotate(0deg); 
  }
  10%  { 
    transform: translate(-1px, -2px) rotate(-1deg); 
  }
  20%  { 
    transform: translate(-3px, 0px)  rotate(1deg); 
  }
  30%  { 
    transform: translate(0px, 2px)   rotate(0deg); 
  }
  40%  { 
    transform: translate(1px, -1px)  rotate(1deg); 
  }
  50%  { 
    transform: translate(-1px, 1px)  rotate(-1deg); 
  }
  60%  { 
    transform: translate(-3px, -2px)  rotate(0deg); 
  }
  70%  { 
    transform: translate(2px, 1px)   rotate(-1deg); 
  }
  80%  { 
    transform: translate(-1px, -2px) rotate(1deg); 
  }
  90%  { 
    transform: translate(2px, -1px)   rotate(0deg); 
  }
  100% { 
    transform: translate(1px, -2px)  rotate(-1deg); 
  }
}

@-moz-keyframes linkQuake { /* Firefox */
  0%   { 
    -moz-transform: translate(2px, 1px)   rotate(0deg); 
  }
  10%  { 
    -moz-transform: translate(-1px, -2px) rotate(-1deg); 
  }
  20%  { 
    -moz-transform: translate(-3px, 0px)  rotate(1deg); 
  }
  30%  { 
    -moz-transform: translate(0px, 2px)   rotate(0deg); 
  }
  40%  { 
    -moz-transform: translate(1px, -1px)  rotate(1deg); 
  }
  50%  { 
    -moz-transform: translate(-1px, 1px)  rotate(-1deg); 
  }
  60%  { 
    -moz-transform: translate(-3px, -2px)  rotate(0deg); 
  }
  70%  { 
    -moz-transform: translate(2px, 1px)   rotate(-1deg); 
  }
  80%  { 
    -moz-transform: translate(-1px, -2px) rotate(1deg); 
  }
  90%  { 
    -moz-transform: translate(2px, -1px)   rotate(0deg); 
  }
  100% { 
    -moz-transform: translate(1px, -2px)  rotate(-1deg); 
  }
}

@-webkit-keyframes linkQuake { /* Safari and Chrome */
  0%   { 
    -webkit-transform: translate(2px, 1px)   rotate(0deg); 
  }
  10%  { 
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); 
  }
  20%  { 
    -webkit-transform: translate(-3px, 0px)  rotate(1deg); 
  }
  30%  { 
    -webkit-transform: translate(0px, 2px)   rotate(0deg); 
  }
  40%  { 
    -webkit-transform: translate(1px, -1px)  rotate(1deg); 
  }
  50%  { 
    -webkit-transform: translate(-1px, 1px)  rotate(-1deg); 
  }
  60%  { 
    -webkit-transform: translate(-3px, -2px)  rotate(0deg); 
  }
  70%  { 
    -webkit-transform: translate(2px, 1px)   rotate(-1deg); 
  }
  80%  { 
    -webkit-transform: translate(-1px, -2px) rotate(1deg); 
  }
  90%  { 
    -webkit-transform: translate(2px, -1px)   rotate(0deg); 
  }
  100% { 
    -webkit-transform: translate(1px, -2px)  rotate(-1deg); 
  }
}
